<a href="https://colab.research.google.com/github/linh011202/tools-for-data-science-/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


ex2:
#Data Science Tools and Ecosystem
ex3:
##In this notebook, Data Science Tools and Ecosystem are summarized.
ex4:
####Some of the popular languages that Data Scientists use are:

*   R
*   Python 
*   Julia 

ex5:
####Some of the commonly used libraries used by Data Scientists include:

*   TensorFlow.
*   NumPy.
*   SciPy.
*   Pandas.

ex5: 
###In this notebook, Data Science Tools and Ecosystem are summarized.

ex10:
**Objectives**:
List popular languages for Data Science:


*   R
*   Python 
*   Julia 


ex11:
##Author##
Nguyen Phuong Linh

ex6:


| Data Science Tools  | 
| ----------- | 
| RStudio | 
| Apache Spark  | 
| TensorFlow |

Ex 7 and ex 8: 
### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
 
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335